.icon-button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	border: none;
	background-color: transparent;
	cursor: pointer;
	transition: transform 0.2s ease-out;

	&__icon {
		width: 24px;
		height: 24px;
		fill: $black;
	}

	&:focus-visible,
	&:hover {
		outline: none;
		transform: scale(1.2);

		@media (max-width: $lg) {
			transform: none;
		}
	}
}
