.sidebar {
	display: flex;
	flex-direction: column;

	@media screen and (max-width: $lg) {
		position: fixed;
		left: -110%;
		top: 170px;
		z-index: 100;
		transition: left 0.3s ease-in-out;

		&--active {
			left: 50px;
		}
	}

	@media screen and (max-width: $sm) {
		&--active {
			left: 25px;
		}
	}

	&__heading {
		margin-bottom: 40px;
		font-size: 3rem;
		font-weight: 700;
		line-height: 4.7rem;

		@media screen and (max-width: $lg) {
			display: none;
		}
	}

	&-button {
		position: fixed;
		left: 60px;
		top: 120px;
		z-index: 100;
		display: none;
		padding: 0;
		border: none;
		border-radius: 50%;
		background-color: #fff;
		box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.75);
		font-family: inherit;
		text-align: left;
		cursor: pointer;

		&__icon {
			width: 40px;
			height: 40px;
			fill: #202020;
		}

		&--active {
			box-shadow: none;

			.sidebar-button__icon {
				fill: rgba(0, 0, 0, 0.5);
			}
		}

		@media screen and (max-width: $lg) {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		@media screen and (max-width: $sm) {
			left: 35px;
			top: 110px;
		}
	}

	&__close-button {
		display: none;

		@media screen and (max-width: $lg) {
			position: absolute;
			top: 15px;
			right: 15px;
			display: flex;
			align-items: center;
			justify-content: center;
			border: none;
			background-color: transparent;
		}
	}

	&__close-icon {
		width: 20px;
		height: 20px;
	}

	&__menu {
		display: flex;
		flex-direction: column;
		height: 100%;

		@media screen and (max-width: $lg) {
			padding: 20px 40px 20px 20px;
			border-radius: 15px;
			background-color: rgba(255, 255, 255, 0.95);
			transition: left 0.2s ease-out;
		}
	}

	&__menu-link {
		display: flex;
		align-items: center;
		width: fit-content;
		margin-bottom: 15px;
		padding: 5px 0;
		color: $black;
		text-decoration: none;

		&:last-child {
			margin-bottom: 0;
		}

		&:focus-visible,
		&:hover {
			outline: none;

			.sidebar__menu-icon {
				transform: scale(1.25);
			}

			.sidebar__menu-label {
				text-decoration: underline;
			}

			@media (max-width: $lg) {
				.sidebar__menu-icon {
					transform: none;
				}

				.sidebar__menu-label {
					text-decoration: none;
				}
			}
		}
	}

	&__menu-icon {
		display: block;
		width: 20px;
		height: 20px;
		margin-right: 12px;
		object-fit: cover;
		transition: transform 0.2s ease-out;
	}

	&__help-link {
		display: flex;
		align-items: center;
		margin-top: auto;
		color: $black;
		text-decoration: none;

		&:focus-visible,
		&:hover {
			outline: none;

			.sidebar__help-icon {
				transform: scale(1.2);
			}

			.sidebar__help-label {
				text-decoration: underline;
			}

			@media (max-width: $md) {
				.sidebar__help-icon {
					transform: none;
				}

				.sidebar__help-label {
					text-decoration: none;
				}
			}
		}

		@media screen and (max-width: $lg) {
			margin-top: 30px;
		}
	}

	&__help-image {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 17px;
		padding: 13px;
		border-radius: 50%;
		background-color: #f6f6f6;
	}

	&__help-icon {
		width: 18px;
		height: 18px;
		fill: $black;
		transition: transform 0.2s ease-out;
	}
}
