*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	background-color: rgba(255, 255, 255, 0.8);
	font-family: "Sofia Pro", sans-serif;
	font-size: 1.6rem;
	font-weight: 400;
}

h1,
h2,
h3,
p,
ul,
li {
	margin: 0;
	padding: 0;
}
