*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	background-color: $bg-white;
	color: $black;
	font-family: "Sofia Pro", sans-serif;
	font-size: 1.6rem;
	font-weight: 400;
}

h1,
h2,
h3,
p,
ul,
li {
	margin: 0;
	padding: 0;
}

.container {
	display: grid;
	grid-template-columns: 1fr 7fr;
	grid-template-rows: 45px 1fr;
	grid-template-areas:
		"header  header"
		"sidebar gallery";
	gap: 50px 80px;
	min-height: 100vh;
	padding: 55px;
}
